//HOLA COMO ESTAS, ESTE ES EL EJEMPLO DEL .ENV QUE DEBERIAS DE TENER EN EL PROYECTO
RECUERDA CAMBIAR LOS VALORES POR LOS DE TU BASE DE DATOS

DB_NAME=tu_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432
NODE_ENV=development